In [2]:
import pandas as pd

In [16]:
selected_town = 'YISHUN'
selected_storey_range = '01 TO 03'
remaining_lease_months = 100
floor_area_sqm = 100

In [17]:
town_mapping = {
    'ANG MO KIO': 0,
    'BEDOK': 1,
    'BISHAN': 2,
    'BUKIT BATOK': 3,
    'BUKIT MERAH': 4,
    'BUKIT PANJANG': 5,
    'BUKIT TIMAH': 6,
    'CENTRAL AREA': 7,
    'CHOA CHU KANG': 8,
    'CLEMENTI': 9,
    'GEYLANG': 10,
    'HOUGANG': 11,
    'JURONG EAST': 12,
    'JURONG WEST': 13,
    'KALLANG/WHAMPOA': 14,
    'MARINE PARADE': 15,
    'PASIR RIS': 16,
    'PUNGGOL': 17,
    'QUEENSTOWN': 18,
    'SEMBAWANG': 19,
    'SENGKANG': 20,
    'SERANGOON': 21,
    'TAMPINES': 22,
    'TOA PAYOH': 23,
    'WOODLANDS': 24,
    'YISHUN': 25
}

if selected_town in town_mapping:
    selected_town = town_mapping[selected_town]
    

storey_mapping = {
    '01 TO 03': 0,
    '04 TO 06': 1,
    '07 TO 09': 2,
    '10 TO 12': 3,
    '13 TO 15': 4,
    '16 TO 18': 5,
    '19 TO 21': 6,
    '22 TO 24': 7,
    '25 TO 27': 8,
    '28 TO 30': 9,
    '31 TO 33': 10,
    '34 TO 36': 11,
    '37 TO 39': 12,
    '40 TO 42': 13,
    '43 TO 45': 14,
    '46 TO 48': 15,
    '49 TO 51': 16
}

if selected_storey_range in storey_mapping:
    selected_storey_range = storey_mapping[selected_storey_range]

In [18]:
selected_town

25

In [22]:
selected_storey_range

0

In [29]:
def scale_features(df):
    scaled_df = pd.DataFrame()
    for column in df.columns:
        max_value = df[column].max()
        min_value = df[column].min()
        
        # Check if the range is zero
        if max_value == min_value:
            scaled_df[column] = df[column]  # Set the column as it is
        else:
            scaled_df[column] = (df[column] - min_value) / (max_value - min_value)
    return scaled_df

In [30]:
data = {
    'remaining_lease_months': [remaining_lease_months],
    'floor_area_sqm': [floor_area_sqm],
    'town': [selected_town],
    'storey_range': [selected_storey_range]
}

X_df = pd.DataFrame(data, index=[0])
X_df

   remaining_lease_months  floor_area_sqm  town  storey_range
0                     100             100    25             0

In [31]:
X_scaled_df = scale_features(X_df)
X_scaled_df

   remaining_lease_months  floor_area_sqm  town  storey_range
0                     100             100    25             0